@charset 'utf-8';
@import 'normalize.css';
@import 'hack-patience';
$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

html, 
body {
  width: 100%;
  min-height: 100vh;
}

* { 
  box-sizing: border-box;
}
